---

---

<div class="wifes lg:block hidden">
  <div class="dot-circle-1">
    <svg width="400" height="400" viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle
        cx="200"
        cy="200"
        r="200"
        stroke="url(#paint0_linear_482_91)"
        stroke-width="0.919743"
        stroke-dasharray="7.36 7.36"></circle>
      <defs>
        <linearGradient id="paint0_linear_482_91" x1="200" y1="0" x2="200" y2="400" gradientUnits="userSpaceOnUse">
          <stop stop-color="#DE0BC9"></stop>
          <stop offset="1" stop-color="#1286F0"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="dot-circle-2">
    <svg width="300" height="300" viewBox="0 0 300 300" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle
        cx="150"
        cy="150"
        r="150"
        stroke="url(#paint0_linear_482_91)"
        stroke-width="0.919743"
        stroke-dasharray="7.36 7.36"></circle>
      <defs>
        <linearGradient id="paint0_linear_482_91" x1="150" y1="0" x2="150" y2="300" gradientUnits="userSpaceOnUse">
          <stop stop-color="#DE0BC9"></stop>
          <stop offset="1" stop-color="#1286F0"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="dot-circle-3">
    <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle
        cx="100"
        cy="100"
        r="100"
        stroke="url(#paint0_linear_482_91)"
        stroke-width="0.919743"
        stroke-dasharray="7.36 7.36"></circle>
      <defs>
        <linearGradient id="paint0_linear_482_91" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
          <stop stop-color="#DE0BC9"></stop>
          <stop offset="1" stop-color="#1286F0"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
</div>

<style>
  .wifes {
    position: relative;

    .wife-1 {
      display: inline-block;
      position: absolute;
      bottom: 300px;
      left: 0;
      width: 188px;
    }

    .wife-2 {
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 180px;
      width: 228px;
    }
  }

  .dot-circle-1 {
    animation: circle 48s linear infinite;
    position: absolute;
    left: -20px;
    bottom: 40px;
  }

  .dot-circle-2 {
    animation: circle-reverse 48s linear infinite;
    position: absolute;
    left: 30px;
    bottom: 90px;
  }

  .dot-circle-3 {
    animation: circle 48s linear infinite;
    position: absolute;
    left: 80px;
    bottom: 140px;
  }

  .heart-pink {
    /* animation: heart-pink 24s linear infinite; */
    position: absolute;
    left: 302px;
    bottom: 362px;
  }

  .heart-blue {
    /* animation: heart-blue 24s linear infinite; */
    position: absolute;
    left: 20px;
    bottom: 80px;
  }
</style>
