---
import { SITE } from '~/utils/config';
import { calculateLaunchDate } from '~/utils/utils';

let launchDate = new Date(SITE.launchDate);
const { months, days, hours } = calculateLaunchDate(launchDate);
let launched = months == days && days == hours && hours == 0;
---

<div class="header max-xs:h-[660px] sm:h-[885px] md:h-[920px] lg:h-[850px] h-[820px]">
  <div class="header-bg-pink absolute sm:top-[400px] sm:left-[400px] top-[300px] left-[100px]"></div>
  <div class="header-bg-blue absolute sm:top-[400px] sm:left-[400px] top-[300px] left-[100px]"></div>

  <div class="content h-full flex flex-col w-full">
    <div class="absolute w-full">
      <img src="/assets/images/makeshift-logo.png" alt="logo" width={400} class="max-lg:mx-auto" />
    </div>
    <div class="flex flex-grow sm:flex-row flex-col justify-between w-full">
      <div class="w-full relative">
        <div class="absolute left-0 w-full text-center mt-4 z-50 max-lg:top-[100px]">
          <div class="max-w-[528px] mx-auto flex-col p-4 sm:p-0">
            <div class="h1 font-bold mt-2 gametitle">
              <img src="/assets/images/hexborn-logo.png"" alt="Hexborn Text Logo" \>
            </div>


            {
              launched && (
                <div>TODO: Add Steam page button</div>
              )
            }
            {
              !launched && (
                <div>
                  <div class="flex items-center justify-between sm:mt-12 mt-8">
                    <div class="timer-container w-[110px] py-4 px-2 max-xs:w-[80px] xs:w-[100px] sm:w-[160px] sm:p-[16px]">
                      <div class="txt-extra max-xs:text-lg">{months}</div>
                      <div class="title2 max-xs:text-sm sm:mt-6 mt-2">
                        { months > 1 ? "MONTHS" : "MONTH" }
                      </div>
                    </div>
                    <div class="timer-container w-[110px] py-4 px-2 max-xs:w-[80px] xs:w-[100px] sm:w-[160px] sm:p-[16px]">
                      <div class="txt-extra max-xs:text-lg">{days}</div>
                      <div class="title2 max-xs:text-sm sm:mt-6 mt-2">
                        { days > 1 ? "DAYS" : "DAY" }
                      </div>
                    </div>
                    <div class="timer-container w-[110px] py-4 px-2 max-xs:w-[80px] xs:w-[100px] sm:w-[160px] sm:p-[16px]">
                      <div class="txt-extra max-xs:text-lg">{hours}</div>
                      <div class="title2 max-xs:text-sm sm:mt-6 mt-2">
                        { hours > 1 ? "HOURS" : "HOUR" }
                      </div>
                    </div>
                  </div>
                </div>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .header {
    position: relative;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    overflow: hidden;

    .logo {
      margin: 64px 0 0 64px;
    }

    .header-bg-pink {
      width: 1136.422px;
      height: 951.387px;
      transform: rotate(-38.088deg);
      flex-shrink: 0;
      border-radius: 1136.422px;
      background: rgb(136,61,87);
      filter: blur(110px);
      animation: bg-circle-pink 8s linear infinite;
    }

    .header-bg-blue {
      width: 1136.422px;
      height: 951.387px;
      transform: rotate(-38.088deg);
      flex-shrink: 0;
      border-radius: 1136.422xspx;
      background: rgb(252,117,41);
      filter: blur(110px);
      animation: bg-circle-blue 8s linear infinite;
    }

    .content {
      position: absolute;
      top: 0;

      .timer-container {
        border-radius: 16px;
        background: #1a1d28;
      }
    }
  }
</style>
