---
import { Splide, SplideSlide } from 'astro-splide';
import { Tweet, Vimeo, YouTube } from 'astro-embed';

import '@splidejs/splide/dist/css/themes/splide-default.min.css';
import '@splidejs/react-splide/css';
---

<div class="how-it-works">
  <div class="container text-center sm:p-24 px-4 py-20">
    <div class="h2">Gameplay Footage</div>
    <div class="sm:mt-4 mt-2">
      <img src="/assets/images/line.png" alt="line" width={157} class="mx-auto" />
    </div>
  </div>

    <div class="container">
      <Splide
        options={{
            rewind : true,
            perPage: 1,
            perMove: 1,
            gap    : '1rem',
            
        }}>
            <SplideSlide>
                <Vimeo posterQuality="max" id="https://vimeo.com/1085561038" />
            </SplideSlide>
            <SplideSlide>
                <Vimeo posterQuality="max" id="https://vimeo.com/1085562134" />
            </SplideSlide>
            <SplideSlide>
                <Vimeo posterQuality="max" id="https://vimeo.com/1085562120" />
            </SplideSlide>
        </Splide>
    </div>
  </div>
</div>
